/* === CSS variables & Themes === */
:root {
  --bg-body: hsl(222, 26%, 31%);
  --bg-toggle-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  --bg-keys-1: hsl(225, 21%, 49%);
  --shadow-keys-1: hsl(224, 28%, 35%);
  --bg-keys-2: hsl(6, 63%, 50%);
  --shadow-keys-2: hsl(6, 70%, 34%);
  --bg-keys-3: hsl(30, 25%, 89%);
  --shadow-keys-3: hsl(28, 16%, 65%);

  --cl-1: hsl(221, 14%, 31%);
  --cl-white: hsl(0, 0%, 100%);

  --padding: 1.5rem;
}

.light {
  --bg-body: hsl(222, 0%, 90%);
  --bg-toggle-keypad: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);

  --bg-keys-1: hsl(185, 42%, 37%);
  --shadow-keys-1: hsl(185, 58%, 25%);
  --bg-keys-2: hsl(25, 98%, 40%);
  --shadow-keys-2: hsl(25, 99%, 27%);
  --bg-keys-3: hsl(45, 7%, 89%);
  --shadow-keys-3: hsl(35, 11%, 61%);

  --cl-1: hsl(60, 10%, 19%);

  color: var(--cl-1);
}

.weird {
  --bg-body: hsl(268, 75%, 9%);
  --bg-toggle-keypad: hsl(268, 71%, 12%);

  --bg-keys-1: hsl(281, 89%, 26%);
  --shadow-keys-1: hsl(285, 91%, 52%);
  --bg-keys-2: hsl(176, 100%, 44%);
  --shadow-keys-2: hsl(177, 92%, 70%);
  --bg-keys-3: hsl(268, 47%, 21%);
  --shadow-keys-3: hsl(290, 70%, 36%);

  --cl-1: hsl(52, 100%, 62%);
  --cl-2: hsl(198, 20%, 13%);

  color: var(--cl-1);
}

.weird .screen {
  background: var(--bg-toggle-keypad);
}

.weird .btn--2 {
  color: var(--cl-2);
}

/* === CSS Resets === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
}

html {
  font-size: 16px;
}

/* === CSS Components === */
/* buttons */
.btn {
  display: inline-block;
  border: none;
  border-radius: 0.3em;
  outline: none;
  line-height: 1;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn--1 {
  font-size: 1.125rem;
  background: var(--bg-keys-1);
  color: var(--cl-white);
  box-shadow: 0 0.2em var(--shadow-keys-1);
}
.btn--2 {
  background: var(--bg-keys-2);
  color: var(--cl-white);
  box-shadow: 0 0.2em var(--shadow-keys-2);
}
.btn--3 {
  background: var(--bg-keys-3);
  color: var(--cl-1);
  box-shadow: 0 0.2em var(--shadow-keys-3);
}

.btn--large {
  grid-column: span 2;
}

/* toggle */
.toggle {
  width: 4.5rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.4rem;
}

.toggle input {
  width: 0;
  height: 0;
  display: none;
}

.toggle label {
  cursor: pointer;
}

.toggle__slider {
  grid-column: span 3;
  width: 100%;
  height: 1.5rem;
  border-radius: 1rem;
  background: var(--bg-toggle-keypad);
  position: relative;
  display: flex;
  align-items: center;
}

.toggle__slider::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--bg-keys-2);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
}

#dark:checked ~ .toggle__slider::before {
  left: 5px;
  transform: translateX(0);
}

#light:checked ~ .toggle__slider::before {
  left: 50%;
  transform: translateX(-50%);
}

#weird:checked ~ .toggle__slider::before {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* === CSS Animations === */
body {
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body::after {
  background: var(--bg-toggle-keypad);
  height: 0%;
  transition: height 0.3s linear, background 0.3s ease-in-out;
}

body.theme-change::after {
  height: 100%;
}

/* === CSS Page Styles === */
body {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 2.125rem;
  background: var(--bg-body);
  color: var(--cl-white);
}

.container {
  display: grid;
  min-height: 100vh;
  /* grid-template-columns: minmax(min-content, 33.75rem); */
  grid-template-columns: 100%;
  gap: 2rem;
  place-content: center;
  padding: var(--padding);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: inline-flex;
  align-items: flex-end;
}

nav label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

nav > label {
  margin-bottom: 0.2rem;
}

nav > * + * {
  margin-left: 1rem;
}

.screen {
  padding: var(--padding);
  background: var(--bg-screen);
  border-radius: 0.5rem;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.keypad {
  margin-top: var(--padding);
  background: var(--bg-toggle-keypad);
  padding: var(--padding);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 3.75rem);
  gap: 0.8125rem;
}

/* === CSS Media Queries === */
@media (min-width: 600px) {
  :root {
    --padding: 2rem;
  }

  .container {
    grid-template-columns: 33.75rem;
  }

  .keypad {
    gap: 1.5rem;
  }

  .btn {
    font-size: 1.6rem;
  }
}
